  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" routerLink="/home" class="brand-logo">Angular 2 Music v0.0.1</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/images">Images</a></li>
        <li><a routerLink="/music">Music</a></li>
        <li><a routerLink="/crisis">Crisis</a></li>
         <li><a href="https://angular.io" target="_blank">Visit Us!</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://angular.io" target="_blank">Angular 2</a></li>
        <li><a href="https://angularjs.org/" target="_blank">Angular 1</a></li>
        <li><a href="https://ionicframework.com/" target="_blank">Ionic</a></li>
        <li><a href="https://cli.angular.io/" target="_blank">Angular CLI</a></li>
        <li><a href="https://getmdl.io/" target="_blank">Material Design Lite</a></li>
        <li><a href="https://material.io/guidelines/" target="_blank">Material Design</a></li>
        <li><a href="https://material.angular.io/" target="_blank">Angular Material</a></li>
        <li><a href="https://universal.angular.io/" target="_blank">Angular Universal</a></li>
        <li><a href="https://augury.angular.io/" target="_blank">Angular Augury</a></li>
        <li><a href="https://webdev.dartlang.org/angular/guide" target="_blank">Angular Dart</a></li>
        <li><a href="https://angularfire2.com/api/" target="_blank">Angular Fire 2</a></li>
        <li><a href="https://www.madewithangular.com/#/" target="_blank">Made with Angular</a></li>
        <li><a href="http://angularexpo.com/" target="_blank">Angular Exposition</a></li>
        <li><a href="https://angular.io/docs/ts/latest/tutorial/" target="_blank">Tour Of Heroes</a></li>
        <li><a href="https://ionic.io/cloud" target="_blank">Ionic Cloud</a></li>
        <li><a href="https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code Of Conduct</a></li>
        <li><a href="http://www.protractortest.org/#/" target="_blank">E2E Protractor</a></li>
        <li><a href="https://www.google.com/chromebook/" target="_blank">Chromebooks</a></li>
        <li><a href="https://firebase.google.com/" target="_blank">Firebase</a></li>
        <li><a href="https://cloud.google.com/" target="_blank">Google Cloud</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
