 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫
        ♫♪<a class="blue-text text-lighten-3" href="http://davidtran.github.io/ng2music/" target="_blank">Angular 2 SoundCloud</a>♪♫♪♫
    ♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫
        ♪♫♪<a class="red-text text-lighten-3" href="http://oidamo.de/angular2-image-gallery/" target="_blank">Angular 2 Images</a>♫♪♫♪♫
        ♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫
        ♪<a class="green-text text-lighten-3" href="https://movies-finder.firebaseapp.com/" target="_blank">Angular 2 Movies</a>♫♪
    ♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫
        ♪♫♪♫♪♫ ... ♪♫♪♫♪♫♪♫ 
                ♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫♪♫
      </h1>
  </div>
</div>
